<html ng-app="myModule">
    
<head>
    <title>Tim's Price Watcher</title>
    <link type="text/css" rel="stylesheet" href="site.css">
    <script src="js/angular.js"></script>
    <script src="js/init.js"></script>
    <script src="js/service.js"></script>
    <script src="js/properties.js"></script>
    <script src="js/priceChanges.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
</head>

<body>
    <hgroup>
    <h1><figure id="logo"></figure>Tim's Price Watcher</h1>
    <h2>Search</h2>
    </hgroup>
    
    <article>

        <div id="stats" ng-class="{loading: statsloaded===false}">
            <div ng-if="statsloaded===true">
                <div class="date">Latest Data: {{stats.date}}</div>
                <div class="added">{{stats.added}} new properties</div>
                <div class="removed">{{stats.removed}} removed properties</div>
                <div class="updated">{{stats.updated}} price changes</div>
                <div class="seen">{{stats.seen}} active properties</div>
            </div>
        </div>
    
        <div id="search">
        <input ng-model="description" placeholder="Description e.g. 3 bed">
        <input ng-model="address" placeholder="Address e.g. Edinburgh" required>
        <input ng-model="min" type="number" placeholder="Min price">
        <input ng-model="max" type="number" placeholder="Max price">
        <button id="searchButton" ng-click="search(description,address,min,max)">Search</button>        
        </div>
                
        <properties></properties>
        
    </article>
</body>
</html>
