@media only screen and (max-width: 480px) {
	body {
		font-size: 80%;
	}
	
	#search>input {
		font-size: 110%;
		padding: 0.75em;
		margin: 0px;
		width: 100%;
	}
	
	#stats {
		display: none;
	}
	
	pricechanges table {
		font-size: 60%;
	}
	
	div.summary div.sort {
		display: none;
	}
	
}

@media only screen and (min-width: 480px) {
	body {
		font-size: 80%; 
	}
	
	#search {
		margin-right: 19em;
		height: 17.2em;
	}
	
	#search>input {
		font-size: 110%;
		padding: 0.75em;
		margin: 0px;
		width: 100%;
	}
	
	pricechanges table {
		font-size: 100%;
	}
	
	div.summary {
		height: 2em;
	}
	
	div.summary div.result {
		line-height: 2em;
		float: left;
		width: 50%
	}
	
	div.summary div.sort {
		line-height: 2em;
		text-align: right;
		float: right;
		width: 50%
	}
}

pricechanges img.spinner {
	margin: 0em;
	padding: 0em;
	width: 2em;
	height: 2em;
}

pricechanges table {
	border-collapse: collapse;
}

pricechanges table tr>*{
	border: 1px solid #000055;
	background-color: #ffffff;
	padding: 0.25em;
}

pricechanges table th{
	background-color: #eedddd;
}

pricechanges td.up {
	font-weight: bold;
	color: #009900;
}

pricechanges td.down {
	font-weight: bold;
	color: #990000;
}

#stats {
	position: absolute;
	margin-right: 1em;
	right: 0em;
	height: 17.2em;
	width: 15em;
	border-radius: 1em;
	padding: 1.25em;
	border: 1px solid #aaaaaa;
	background-color: #dddddd;
}

#stats.loading {
	background-image: url("images/spinner.gif");
	background-repeat: no-repeat;
	background-position: center;
}

#stats>div>div {
	margin-left: 1em;
}

#stats>div>div.date {
	font-weight: bold;
	margin-left: 0em;
	margin-bottom: 0.5em;
	text-align: left;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

#search>input {
	display: block;	
	margin-bottom: 1em;
}

article{
	margin-left: 1em;
	margin-right: 1em;
}

.priceChanges {
	color: red;
}

.left {
	float: left;
}

.vendor img {
	max-width: 7em;
	height: 2em;
}

.text {
	margin-left: 8em;
}

.text div {
	margin-bottom: 1em;
}

.text .address {
	font-weight: bold;
	font-size: 110%;
}

.text .price {
	color: darkgreen;
	font-weight: bold;
	font-size: 110%;
}

.text .dateadded {
	color: darkslategrey;
	font-size: 80%;
}

.text .description {
	font-size: 100%;
}

.spinner {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5em;
	display: block;
}

.propertyimage, .noimage {
	width: 7em;
	height: 6em;
	text-align: center;
	line-height: 6em;
	background-color: #7777ff;
	color: #ffffff;
}
	
properties>div.property {
	border-radius: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 1.5em;
	min-height: 8em;;
	border: 1px solid #ccccff;
	background-color: #eeeeff;
}

div.banner {
	display: block;
	width: 7em;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 100%;
}

properties>div.pricechanged {
	background-color: #ffeeee;
	border: 1px solid #ff9999;
}

properties>div.newpricechanged {
	background-color: #ddcccc;
	border: 1px solid #dd7777;
}

properties>div.newProperty {
	background-color: #ddffdd;
	border: 1px solid #99ff99;
}

.summary {
	margin-top: 20px;
	margin-bottom: 10px;            
}

hgroup {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 20px;
	background-color: #000044;
	color: white;    
}

hgroup>h1 {
	margin: 0px;
	padding: 1rem;
	background-position: .6em .3em;
	font-size: 200%;
}

figure#logo {
	display: block;
	height: 1em;
	width: 1em;
	background-image: url("images/logo.svg");
	background-repeat: no-repeat;
	background-size:100% 100%;
	float: left;
	margin: 0em 0.5em 0em 0em;
}

hgroup>h2 {
	margin: 0px;
	border-top: 2px solid #4444AA;
	background-color: #333377;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

#search {
	border-radius: 1em;
	padding: 1.25em;
	border: 1px solid #dddd00;
	background-color: #ffff99;
}

#search input:nth-of-type(3) {
	float: left;
	width: 50%;
}

#search input:nth-of-type(4) {
	width: 50%;
}

#searchButton {
	font-size: large;
	background-color: rgb(51, 51, 119);
	color: white;
	border: 1px solid rgb(170, 170, 255);
	border-radius: 5px;
	line-height: 2em;
	width: 8em;            
}
