<button class="showchanges" ng-click="showchanges()" ng-if="visible === false">Show changes</button>
<section ng-if="visible === true">
	<img ng-if="loading === true" class="spinner" src="images/spinner.gif">
	<table ng-if="loading === false">
		
		<tr>
			<th>Date</th>
			<th>From</th>
			<th>To</th>
			<th>Difference</th>
		</tr>
		<tr ng-repeat="update in priceChanges">
			<td>{{update.dateChanged}}</td>
			<td>{{update.oldPricingModel}} £{{update.oldPrice}}</td>
			<td>{{update.newPricingModel}} £{{update.newPrice}}</td>
			<td ng-class="{up: update.difference>0, down: update.difference<0}">£{{update.difference.toLocaleString()}}</td>		
		</tr>	
		
	</table>
</section>