<img ng-if="loading==true" class="spinner" src="images/spinner.gif">

<div ng-if="items.length>0 && loading==false" ng-cloak class="summary">
        
    <div class="result">
    Found {{items.length}} properties matching your criteria
    </div>
    
    <div class="sort">
    Sort by:
    <select>
        <option ng-selected="sort.byDefault.selected" ng-click="sortByDefault()">Default</option>
        <option ng-selected="sort.byPrice.selected" ng-click="sortByPrice()">Price {{!sort.byPrice.asc?"(Low-High)":"(High-Low)"}}</option>
        <option ng-selected="sort.bySource.selected" ng-click="sortBySource()">Source {{!sort.bySource.asc?"(A-Z)":"(Z-A)"}}</option>
        <option ng-selected="sort.byAddedDate.selected" ng-click="sortByAddedDate()">Added {{!sort.byAddedDate.asc?"(Oldest-Newest)":"(Newest-Oldest)"}}</option>
    </select>
    </div>
</div>

<div class="property" ng-cloak ng-repeat="item in items" ng-if="loading==false" ng-class="{pricechanged: item.priceChanges > 0 && item.changeAge>=1, newpricechanged: item.priceChanges > 0 && item.changeAge<1, newProperty: item.age<1}">

    <property-details></property-details>

</div>

