<a href="{{item.url}}">
    <div class="left">
        <div class="banner new" ng-if="item.age < 1">New</div>
        <div class="banner newpricechange" ng-if="item.changeAge < 1 && item.priceChanges >0">Updated</div>
    
        <img class="propertyimage" ng-if="item.source == 'espc'" src="https://www.espc.com/Images.ashx?i=http://media.scottishhomereports.com/MediaServer/PropertyMarketing/{{item.refId}}/MainImage/{{item.refId}}.jpg&width=100&height=75">
        <img class="propertyimage" ng-if="item.source == '_remax'" width=100 height=80 src="http://rack01.powering2.expertagent.co.uk/(S(e012wpm2yyniohyr544xwbmv))/agencies/%7B838279c3-f6ec-4867-baab-97e679c18861%7D/%7B{{item.refId}}%7D/main/1.jpg">
        <img class="propertyimage" ng-if="item.source == '_rightmove'" src="https://www.espc.com/Images.ashx?i=http://media.scottishhomereports.com/MediaServer/PropertyMarketing/{{item.refId}}/MainImage/{{item.refId}}.jpg&width=100&height=80">
                
        <div class="noimage" ng-if="item.source != 'espc' && item.source !='_remax'">No Photo</div>    
        
        <div class="vendor" ng-if="item.source == 'espc'"><img src="images/espc.png"></div>
        <div class="vendor" ng-if="item.source == 'rightmove'"><img src="images/rightmove.png"></div>
        <div class="vendor" ng-if="item.source == 'yourmove'"><img src="images/yourmove.png"></div>
        <div class="vendor" ng-if="item.source == 'remax'"><img src="images/remax.png"></div>
    </div>
</a>

<div class="text">
    
    <div class="address">{{item.address}}</div>
    <div class="price">{{item.pricingModel}} £{{item.price.toLocaleString()}} 
        <span class="priceChanges" ng-if="item.priceChanges > 1"> - Price has changed {{item.priceChanges}} times</span>
        <span class="priceChanges" ng-if="item.priceChanges === 1"> - Price has changed</span>
    </div>
    <div class="description">{{item.description}}</div>    
    <div class="dateadded">Added {{item.dateAddedText}}</div>  
    
    <pricechanges refid="item.refId" ng-if="item.priceChanges > 0"></pricechanges>

</div>
